/*background colour-all*/
body {
    background-color: #efe3d3;
}

/*big title text*/
.mainheader {
    margin: 30px;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    letter-spacing: 2px;
    color: #8c5a3c;
    position: relative;
}

/*posts*/
.container-a,
.container-b,
.container-c {
    display: flex;
    align-items: center;
    justify-content: center
}

.image-a,
.image-b,
.image-c {
    flex-basis: 40%
}

.headtext-a,
.headtext-b,
.headtext-c {
    font-size: 20px;
    padding-left: 20px;
    font-family: 'Playfair Display', serif;
}

.text-a,
.text-b,
.text-c {
    font-size: 20px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 350px;
    margin: 30px;
}