/*background colour-all*/
body {
    background-color: #efe3d3;
}

/*big title text*/
.mainheader {
    margin: 30px;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    letter-spacing: 2px;
    color: #8c5a3c;
    position: relative;
}

/*posts*/
.container {
    display: flex;
    align-items: center;
    justify-content: center
}

img {
    width: 350px;
    margin: 30px;
    flex-basis: 40%
}

p {
    font-size: 20px;
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 35px;
    padding-left: 30px;
    font-family: 'Playfair Display', serif;
}