/*background colour-all*/
body {
    background-color: #efe3d3;
}

/*big title text*/
.mainheader {
    margin: 30px;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    letter-spacing: 2px;
    color: #8c5a3c;
    position: relative;
}

/*posts*/
.container {
    border: #8c5a3c 2px solid;
    display: flex;
    align-items: center;
    justify-content: center
}

.container-a,
.container-b,
.container-c {
    border: #8c5a3c 2px solid;
    margin-top: 30px;
}

* {
    align-items: center;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    padding: 10px;
}

img {
    width: 350px;
    margin: 30px;
    flex-basis: 40%
}

p {
    font-size: 20px;
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 35px;
    padding-left: 30px;
    font-family: 'Playfair Display', serif;
}

h2 {
    color: blue;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}